.con{
min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 5% 10% 0 10%;
}


.widget {
  text-align: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  padding: 2% 6% 2% 6%;
}


.cityName {
  font-size: 16px;
  color: black;
}

.icon {
  transform: scale(115%);
}

.temp {
  margin-top: 35px;
  font-size: 36px;
  font-weight: 400;
}

.min_max {
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.case {
  align-items: center;
  text-align: center;
}

.triangle_down {
  color: #00ff3c;
  font-size: 12px;
}

.min__text {
  color: #00ff3c;
  font-size: 12px;
  font-weight: 500;
}

.triangle_up {
  font-size: 12px;
  color: red;
}

.max__text {
  font-size: 12px;
  font-weight: 500;
  color: red;
}
.min_max__temp{
  font-size: 18px;
  font-weight: 400;
}
