.spacer {
  flex: 1 1 auto;
}

.darkMode {
  font-weight: lighter;
  font-size: 14px;
  margin-right: 10px;
}

.logo {
  font-size: 24px;
}
.widget{
  text-align: center;
  min-height: 600px;
}

.container{
  display: flex;
  justify-content: space-between;
  margin: 8% 7% 0 7%;
}

.cityName{
  font-size: 16px;
}

.temp{
  font-size: 36px;
  font-weight: 400;
}
.background{
  background: url("1.png");
  background-size: cover;
  height: 50px;
  width: 50px;
}
