<div class="container">

  <div class="widget">
    <div *ngIf="kyivData">
      <h2 class="cityName">{{kyivData.name}}</h2>
      <div class="background"></div>
      <p class="temp">{{kyivTemp}}°</p>
      <p>{{kyivData.weather[0].description | uppercase}}</p>
    </div>
  </div>

  <div class="widget" *ngFor="let widget of weatherWidgets; let i = index">
    <form>
      <input type="text" name="cityName" placeholder="Enter a city name" [(ngModel)]="widget.city">
      <button type="button" (click)="getWeather(i)">Get Weather</button>
    </form>

    <div *ngIf="widget.weatherData">
      <h2>{{widget.weatherData.name}}</h2>
      <p>{{widget.weatherData.main.temp}}</p>
      <p>Weather: {{widget.weatherData.weather[0].description}}</p>
    </div>
  </div>

</div>

