.spacer {
  flex: 1 1 auto;
}

.darkMode {
  font-weight: lighter;
  font-size: 14px;
  margin-right: 10px;
}

.logo {
  font-size: 24px;
}
.widget{
  text-align: center;
  min-height: 600px;
}

.container{
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}
