<div class="con">
  <div class="container">
    <div class="wrapper">
      <div #btnLeft>
        <button (click)="prevSlide()" mat-icon-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
      <ngx-slick-carousel #slickModal="slick-carousel"
                          [config]="slideConfig"
                          class="carousel mt-3">
        <div *ngFor="let widget of weatherWidgets; let i = index" class="slide" ngxSlickItem>
          <div class="widget">
            <div class="widget-item">
              <div *ngIf="!widget.main.temp" class="addCity">Add city</div>
              <div class="button-container">
                <div (click)="showInput(widget.id)" *ngIf="widget.flag && !widget.main.temp" class="btn">+</div>
              </div>
              <form *ngIf="!widget.flag">
                <mat-form-field class="form-field" color="accent">
                  <input [(ngModel)]="widget.name" [formControl]="formsControl" [matAutocomplete]="auto" class="input"
                         matInput name="cityName" placeholder="Enter city name" type="text">
                  <mat-autocomplete #auto autoActiveFirstOption>
                    <mat-option *ngFor="let city of filterOptions | async" [value]="city">{{city}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <button (click)="getWeather(widget.id)" color="accent" class="inputBtn" type="button" mat-raised-button>Get Weather</button>
              </form>
              <div *ngIf="widget.weatherData">
                <h2 class="cityName">{{widget.name | uppercase}}</h2>
                <div>
                  <img alt=""
                       class="icon"
                       src="https://openweathermap.org/img/wn/{{widget.weatherData.weather[0].icon}}@2x.png">
                </div>
                <div class="temp">{{widget.main.temp}}°</div>
                <p>{{widget.weatherData.weather[0].description | uppercase}}</p>
                <div class="min_max">
                  <div class="case">
                    <div class="triangle_down">▼</div>
                    <div class="min_max__temp">{{widget.main.temp_min}}</div>
                    <div class="min__text">Min</div>
                  </div>
                  <div class="case">
                    <div class="triangle_up">▲</div>
                    <div class="min_max__temp">{{widget.main.temp_max}}</div>
                    <div class="max__text">Max</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
      <div #btnRight>
        <button (click)="nextSlide()" mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="controlBtnCon">
      <button #removeLastBtn (click)="removeLastWidget()" class="control-btn" color="warn" mat-raised-button>Remove
        Last
      </button>
      <button #resetBtn (click)="resetLocalStorage()" class="control-btn" mat-raised-button>Reset
      </button>
      <button (click)="addWidget()" class="control-btn" color="primary" mat-raised-button>Add Widget</button>
    </div>
  </div>
</div>
