
.con {
  min-height: 100vh;
}

.container {
  margin-top: 100px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.widget {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-item {
  text-align: center;
  align-items: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  width: 250px;
  height: 370px;

}

.addCity {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 16px;
}

.cityName {
  margin-top: 3%;
  font-size: 16px;
}

.icon {
  transform: scale(135%);
  margin-left: 30%;
}

.temp {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 400;
}

.min_max {
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.case {
  align-items: center;
  text-align: center;
}

.triangle_down {
  color: #00ff3c;
  font-size: 12px;
}

.min__text {
  color: #00ff3c;
  font-size: 12px;
  font-weight: 500;
}

.triangle_up {
  font-size: 12px;
  color: red;
}

.max__text {
  font-size: 12px;
  font-weight: 500;
  color: red;
}

.min_max__temp {
  font-size: 18px;
  font-weight: 400;
}

/*for btn*/
.display_none {
  display: none;
}

.btn {
  font-size: 100px;
  font-weight: lighter;
  border-radius: 50%;
  border: none;
  padding: 0 28px;
  color: #fff;
  background-color: #3498db;
  cursor: pointer;
  margin-top: 35%;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: center center;
  transition: all .5s linear;
}

.btn:hover {
  background-color: #ff5733;
  rotate: 90deg;
}

.input {
  margin-top: 30%;
  padding: 5px;
  width: 80%;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: #ff5733;
}

.inputBtn {
  margin-top: 15px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.inputBtn:hover {
  background-color: #ff5733;
}

.controlBtnCon {
  margin-top: 5%;
  margin-right: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-btn {
  margin-left: 1%;
}

/*Slider*/
.slick-slider {
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 1200px) {
  .slick-slider{
    width: 100%;
  }
}
