<header>
  <mat-toolbar class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">Weather</span>
    <span class="spacer"> </span>
    <div class="darkMode">
      LIGHT <mat-slide-toggle></mat-slide-toggle> DARK
    </div>
  </mat-toolbar>

  <mat-drawer-container>
    <mat-drawer #drawer opened="false" mode="side">
      <mat-nav-list>
        <mat-list-item>
          <button mat-button><mat-icon>home</mat-icon>Home</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button><mat-icon>analytics</mat-icon>Weather</button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <div class="city">
        <app-yourcity></app-yourcity>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</header>
