
.morning {
  background: linear-gradient(to top, #FFC0CB, #87CEEB);
  color: black;
  height: 100vh;
}

.day {
  background: linear-gradient(to top, #41a8d5, #FFFFFF);
  color: black;
  height: 100vh;

}

.evening {
  background: linear-gradient(to top, #FFA500, #800080);
  color: white;
  height: 100vh;
}

.night {
  background: linear-gradient(to top, #000080, #000);
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25% 0 25%;

}

.city {
  position: relative;
  text-align: center;
}

.afterBlack {
  content: "";
  display: block;
  width: 75%;
  margin: 0 auto;
  height: 3px;
  background-color: black;
}

.afterWhite {
  content: "";
  display: block;
  width: 75%;
  margin: 0 auto;
  height: 3px;
  background-color: white;
}

.temp {
  padding-left: 50px;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.description {
  margin-top: 20%;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  opacity: 70%;
}

.left__block {
  margin-top: 22%;
  align-items: center;
}

.con {
  display: flex;
  margin-top: 15%;
  justify-content: flex-start;
  text-align: center;
  margin-right: 20%;
}

.hum {
  text-transform: uppercase;
  opacity: 70%;
  font-weight: 400;
  font-size: 10px;
  padding-right: 2.5rem;
}

.wind {
  white-space: nowrap;
  text-transform: uppercase;
  opacity: 70%;
  font-weight: 400;
  font-size: 10px;
  padding-left: 2.5rem;
  border-left: 1px solid;
}

/*Media*/

@media (max-width: 768px) {
  .container{
    margin: 0 20% 0 20%;
  }
  .temp{
    font-size: 50px; /*70px*/
    padding-left: 12%;
  }
  .description{
    font-size: 13px; /*15px*/
  }
  .hum{
    font-size: 8px; /*10px*/
  }
  .wind{
    font-size: 8px; /*10px*/
  }
  .city{
    font-size: 17px;
  }
}

@media (max-width: 576px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .left__block{
    width: 100%;
    margin-top: 40%;
  }
  .description{
    margin-top: 10%;
  }
  .con{
    align-items: center;
    justify-content: center;
    margin-left: 23%;
  }
  .city{
    text-align: center;
  }
  .conForCity {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 10px;
  }
  .afterBlack{
    margin: 0 50px;
  }
  .afterWhite{
    margin: 0 50px;
  }
}
