<div id="gruond" [ngClass]="periodOfDay">
  <div class="container">
    <div class="left__block">
      <div class="temp">{{temp}} °</div>
      <div class="description">{{weather.weather[0].description | uppercase}}</div>
      <div class="con">
        <div class="hum">Humidity <p>{{weather.main.humidity}}%</p></div>
        <div class="wind">Wind <p>{{weather.wind.speed}} m/s</p></div>
      </div>
    </div>
    <div>
      <div class="conForCity">
        <h2 class="city">{{nameCity | uppercase}}</h2>
        <div [ngClass]="blackOrWhite"></div>
      </div>
    </div>
  </div>
</div>

