<div id="gruond" [ngClass]="timeOfDay">
  <div class="container">
    <div class="left__block">
      <div class="temp">{{temp}} °</div>
      <div class="desc">{{weather.weather[0].description}}</div>
      <div class="con">
        <div class="hum">Humidity <p>{{weather.main.humidity}}%</p></div>
        <div class="wind">Wind <p>{{weather.wind.speed}} m/s</p></div>
      </div>
    </div>
    <div>
      <h2 class="city">{{nameCity}}</h2>
      <div [ngClass]="BlackOrWhite"></div>
    </div>
  </div>
</div>
