
.mat-drawer {
  width: 13rem;
  height: 92vh;
}

.mat-toolbar {
  height: 8vh;
}

.active {
  background-color: #d0d0d0;
}

.spacer {
  flex: 1 1 auto;
}

.darkLight {
  display: flex;
  font-size: 14px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.lightM {
  margin-right: 10px;
  color: #ff7e00;
}

.darkM {
  margin-left: 10px;
}

.logo {
  font-size: 24px;
}

.city {
  text-align: center;
  height: 100%;
}


@media (max-width: 500px) {
  .mat-toolbar {
    height: 8vh;
  }
  .mat-drawer {
    height: 18vh;
    width: 10rem;
  }
  .logo {
    font-size: 18px;
  }
}
