
mat-drawer {
  width: 200px;
}

.active {
  background-color: #d0d0d0;
}

.spacer {
  flex: 1 1 auto;
}

.darkLight {
  display: flex;
  font-size: 14px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.light {
  margin-left: 10px;
  color: #ff7e00;
}

.dark {
  margin-right: 10px;
}

.logo {
  font-size: 24px;
}

.city {
  text-align: center;
  height: 100%;
}

/*theme*/

