<mat-toolbar class="mat-toolbar mat-elevation-z8 mat-toolbar-single-row">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">Weather</span>
  <span class="spacer"> </span>
  <div class="darkMode">
    <mat-icon class="light">light_mode</mat-icon>
    <mat-slide-toggle (change)="darkLight($event)"></mat-slide-toggle>
    <mat-icon class="dark">dark_mode</mat-icon>
  </div>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer opened="false" mode="over">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/home" routerLinkActive="active" mat-button>
          <mat-icon>home</mat-icon>
          Home
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/widgets" routerLinkActive="active" mat-button>
          <mat-icon>analytics</mat-icon>
          Widgets
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>

