@use '@angular/material' as mat;



@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);

$angular-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $my-primary,
        accent: $my-accent,
      ),
    )
);

.darkMode {
  @include mat.all-component-themes($angular-dark-theme);
}


html, body { height: 100vh; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

